.over{
    margin-top:47%;
    color:white;
    text-align: center;
}
button{
    color:#e35317;
    font-weight: 800;

}
.sale{
    font-size:39px;
    color:#e35317;
    position: relative;
    top:15.4rem;
    left: 5rem;
    background-color: white;
    padding-top:5%;
    padding-bottom:5%;
    padding-right: 2%;
    padding-left: 2%;
    border-radius:50%;
}
.per{
    color:white;
    position: relative;
    top:13rem;
    left: 5rem;
    font-weight: 800;
    font-size: 30;
}
