<mat-card style="padding-bottom: 0%;"> 
    <div class="inline">
        <img class="item-styling" src="../../../assets/img/book6.jpg"/>
        <div class="selfItem">
            <div class="char"><b>{{product.Name}}</b></div>
            <div class="char">{{product.UnitPrice}}</div>
            <div class="char">Quantity: {{product.Quantity}}</div>
            <div class="char">Shipping: 1 000 FCFA</div>
            <div class="char">Total: 12 500 FCFA</div>
            <div style="position: relative;left: 7rem;"><button mat-icon-button class="icon-btn"><mat-icon>delete</mat-icon></button></div>
        </div>
    </div>
    <b></b>
</mat-card>
