<div class="row">
    <mat-card style="width: 100%;z-index: 0;">
            <h2><b>WEEKLY DEALS</b></h2>

                <div class="stack">
                    <div class="black-wall">
                        <h2>From <b>30% OFF</b></h2>
                        <p>Deals end in:</p>
                        <countdown [config]="{leftTime: 43600}"></countdown>
                    </div>
                    <app-item></app-item>    
                    <app-item></app-item> 
                    <app-item></app-item> 
                </div>
                       
        </mat-card>
</div>