<div class="tab-infos">
        <mat-tab-group animationDuration="1000ms" mat-align-tabs="center">
          <mat-tab label="Specifications">
                <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <h5>Title:</h5>
                                </td>
                                <td>
                                    <h5><b>ADVANCED LEVEL PHYSICS</b></h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Publishers:</h5>
                                </td>
                                <td>
                                    <h5>Grace Publishers Technology</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Author:</h5>
                                </td>
                                <td>
                                    <h5>Stephane Kemgang</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Weight:</h5>
                                </td>
                                <td>
                                    <h5>0.7Kg</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Pages:</h5>
                                </td>
                                <td>
                                    <h5>641</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Targeted Users</h5>
                                </td>
                                <td>
                                    <h5>Students in Advanced level class</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>When packeting</h5>
                                </td>
                                <td>
                                    <h5>Without touch of hand</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Ratings</h5>
                                </td>
                                <td>
                                    <h5>
                                        <span class="material-icons gold gold">star</span>
                                        <span class="material-icons gold gold">star</span>
                                        <span class="material-icons gold gold">star</span>
                                        <span class="material-icons gold gold">star</span>
                                        <span class="material-icons gold gold">star_half</span>
                                    </h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
          </mat-tab>


          <mat-tab label="Description">
              <br/>
              <p class="paragraph">
                    Beryl Cook is one of Britain’s most talented and amusing artists. Beryl’s pictures feature women of all shapes and sizes enjoying themselves .Born between the two world wars, Beryl Cook eventually left Kendrick School in Reading at the age of 15, where she went to secretarial school and then into an insurance office. After moving to London and then Hampton, she eventually married her next door neighbour from Reading, John Cook. 
              </p>
              <p class="paragraph">
                    He was an officer in the Merchant Navy and after he left the sea in 1956, they bought a pub for a year before John took a job in Southern Rhodesia with a motor company. Beryl bought their young son a box of watercolours, and when showing him how to use it, she decided that she herself quite enjoyed painting. John subsequently bought her a child’s painting set for her birthday and it was with this that she produced her first significant work, a half-length portrait of a dark-skinned lady with a vacant expression and large drooping breasts. It was aptly named ‘Hangover’ by Beryl’s husband and
              </p>
              <button mat-raised-button class="buy" (click)="openPreview()"><span class="material-icons gold">visibility</span> See Preview</button>
          </mat-tab>


          <mat-tab label="Related Items">
              
          </mat-tab>


          <mat-tab label="Reviews">
                <div class="blocka">
						<div class="cella">
							<div class="cella1">
								<div class="cella11">
									<mat-card class="box_total"  (click)="openPreview()">
										<h3>Overall</h3>
										<h2 class="gold big">4.0</h2>
										<h5>(124 Reviews)</h5>
									</mat-card>
								</div>
								<div class="rating_list">
										<h3 style="margin-left: 1.6rem;">Based on 124 Reviews</h3>
										<ul class="list">
											<li><a class="small-icons" href="#">5 Stars <span class="material-icons gold">star</span><span class="material-icons gold">star</span><span class="material-icons gold">star</span>
												<span class="material-icons gold">star</span><span class="material-icons gold">star_half</span> 52</a></li>
											<li><a class="small-icons" href="#">4 Stars <span class="material-icons gold">star</span><span class="material-icons gold">star</span><span class="material-icons gold">star</span>
												<span class="material-icons gold">star_half</span><span class="material-icons gold">star_border</span> 39</a></li>
											<li><a class="small-icons" href="#">3 Stars <span class="material-icons gold">star</span><span class="material-icons gold">star</span><span class="material-icons gold">star</span>
												<span class="material-icons gold">star_border</span><span class="material-icons gold">star_border</span> 11</a></li>
											<li><a class="small-icons" href="#">2 Stars <span class="material-icons gold">star</span><span class="material-icons gold">star_half</span><span class="material-icons gold">star_border</span>
												<span class="material-icons gold">star_border</span><span class="material-icons gold">star_border</span> 17</a></li>
											<li><a class="small-icons" href="#">01 Star  <span class="material-icons gold">star</span><span class="material-icons gold">star_border</span><span class="material-icons gold">star_border</span>
												<span class="material-icons gold">star_border</span><span class="material-icons gold">star_border</span> 05</a></li>
										</ul>
								</div>
							</div>
							<div class="review_list">
								<h2 >Reviews & Comments:</h2>
								<div class="review_item">
									<div class="media">
										<div mat-card-avatar class="avatar"></div>
										<div class="media-body">
											<h4 class="padding">Blake Ruiz</h4>
											<div class="top">
												<span class="material-icons gold">star</span>
												<span class="material-icons gold">star</span>
												<span class="material-icons gold">star</span>
												<span class="material-icons gold">star</span>
												<span class="material-icons gold">star</span>
											</div>	
										</div>
									</div>
									<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo</p>
								</div>
								<div class="review_item">
										<div class="media">
											<div mat-card-avatar class="avatar"></div>
											<div class="media-body">
												<h4 class="padding">Blake Ruiz</h4>
												<div class="top">
													<span class="material-icons gold">star</span>
													<span class="material-icons gold">star</span>
													<span class="material-icons gold">star</span>
													<span class="material-icons gold">star</span>
													<span class="material-icons gold">star</span>
												</div>	
											</div>
										</div>
										<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
											dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
											commodo</p>
									</div>
									<div class="review_item">
											<div class="media">
												<div mat-card-avatar class="avatar"></div>
												<div class="media-body">
													<h4 class="padding">Blake Ruiz</h4>
													<div class="top">
														<span class="material-icons gold">star</span>
														<span class="material-icons gold">star</span>
														<span class="material-icons gold">star</span>
														<span class="material-icons gold">star</span>
														<span class="material-icons gold">star</span>
													</div>	
												</div>
											</div>
											<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
												dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
												commodo</p>
										</div>
										

							</div>
						</div>
						<div class="review_box">
								<p>Add Your review Review</p>
								<p>Your Rating:</p>
								
									<button mat-icon-button><span class="material-icons gold">star</span></button>
									<button mat-icon-button><span class="material-icons gold">star</span></button>
									<button mat-icon-button><span class="material-icons gold">star</span></button>
									<button mat-icon-button><span class="material-icons gold">star</span></button>
									<button mat-icon-button><span class="material-icons gold">star</span></button>
									<br/><br/>
									<span class="rmk">*You must login before leaving your review</span>
								<p><button mat-raised-button class="buy"  (click)="openPreview()">Sign In</button></p>
						</div>
					</div>	
          </mat-tab>
        </mat-tab-group>
</div>