<div class="bc">
        <mat-card *ngFor="let card of box">
                <h2>{{card.title}}</h2>
                <p>{{card.description}}</p>
                <div class="items">
                    <mat-card class="mat-elevation-z8">
                        <b>Premium Tablet</b>
                        <img src="../../../../assets/img/bags/tab1.png" style="width: 8rem;">
                    </mat-card >
                    <mat-card class="mat-elevation-z8">
                        <b>Advanced Tablet </b>
                            <img src="../../../../assets/img/bags/tab2.png" style="width: 8rem;">
                    </mat-card>
                    <mat-card class="mat-elevation-z8">
                            <b>Basic Tablet </b>
                            <img src="../../../../assets/img/bags/tab2.png" style="width: 8rem;">
                        </mat-card>
                </div>
            </mat-card>
</div>
