<app-navbar></app-navbar>
<app-carousel></app-carousel>
<big-card></big-card>
<app-horizontal-list></app-horizontal-list>
<div class="row">
    <div class="recommandation">
        <div class="recomand">
            <app-item></app-item>
            <app-item></app-item>
            <app-item></app-item>
            <app-item></app-item>
            <app-item></app-item>
            <app-item></app-item>
        </div>
        <div class="recomand">
            <app-item></app-item>
            <app-item></app-item>
            <app-item></app-item>
            <app-item></app-item>
            <app-item></app-item>
            <app-item></app-item>
        </div>
        <div class="recomand">
            <app-item></app-item>
            <app-item></app-item>
            <app-item></app-item>
            <app-item></app-item>
            <app-item></app-item>
            <app-item></app-item>
        </div>
        <div class="recomand">
            <app-item></app-item>
            <app-item></app-item>
            <app-item></app-item>
            <app-item></app-item>
            <app-item></app-item>
            <app-item></app-item>
        </div>
    </div>
    <div class="banner">
            <button mat-flat-button style="background-color: #ff8c00;color: white;position: relative;top:18rem; left: 4rem;">Start study now!</button>
    </div>
</div>    
<app-footer></app-footer>
